@media only screen and (max-width: 1279px) {

    /* geral */
    
    .title {
        font-size: 2em;
    }

    /* header -------------------------------------------------------*/

    header {
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    html, header, body, footer {
        width: 100vw;
    }

    .navigator-container {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    nav {
        display: none;
        padding-bottom: 10px;
        row-gap: 50px;
        a {
            display: inline-block;
            padding-top: 10px;
        }
    }

    .menu-icon-container, .social-icons, .function-icons {
        display: flex; 
        align-items: center;
        margin-top: 5px;
        gap: 20px;
        user-select: none;
        cursor: pointer;
        * {
            font-size: 33px;
        }
    }

    .social-icons {
        font-size: 43px;
    }

    .function-icons {
        margin-right: 10px;
    }
    
    .menu-icon-container {
        margin-left: 10px;
    }

    .menu-icon-container:hover {
        transition: .3s;
        transform: scale(1.1, 1.1);
    }

    #language-icon {
        height: 35px;
        margin-top: 2px;
        border: 3px var(--main-color) solid !important;
    }

    /* home -------------------------------------------------------*/
    
    .home-container {
        display: grid;
    }

    .intro {
        width: 350px;
        display: flex;
        font-size: 1.75em;
        justify-content: center;
        margin-bottom: 2em;
    }

    .icone-eu {
        display: flex;
        justify-content: center;
        img {
            width: 350px;
        };
    }

    /* about -------------------------------------------------------*/

    .about-container {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        margin-left: 0;
        display: block;      
        width: 300px;
        margin-bottom: 3em;
    }

    .about-img {
        display: flex;
        img {
            width: 300px;
            border-radius: 10%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        };
    }

    /* skills -------------------------------------------------------*/

    .sub-title-advanced, .sub-title-intermediate, .sub-title-beginner {
        font-size: 1.5em;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    /* projects -------------------------------------------------------*/

    .project-container {
        display: grid;
        justify-content: center;
        gap: 50px;
    }

    /* certificates -------------------------------------------------------*/

    .certificate-container {
        display: grid;
        justify-content: center;
        gap: 50px;
    }

    /* contact -------------------------------------------------------*/

    @media only screen and (max-width: 400px) {
        #email, #message {
            width: 60vw;
        }
    }

    @media only screen and (min-width: 400px) {
        #email, #message {
            width: 300px;
        }
    }

}