@media only screen and (max-width: 1279px) {

    /* header -------------------------------------------------------*/

    header {
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .navigator-container {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    nav {
        display: none;
        padding-bottom: 10px;
    }

    .menu-icon-container, .social-icons, .function-icons {
        display: flex; 
        align-items: center;
        margin-top: 5px;
        gap: 20px;
        user-select: none;
        cursor: pointer;
        * {
            font-size: 33px;
        }
    }

    .function-icons {
        margin-right: 10px;
    }
    
    .menu-icon-container {
        margin-left: 10px;
    }

    .menu-icon-container:hover {
        transition: .3s;
        transform: scale(1.1, 1.1);
    }

    #language-icon {
        height: 35px;
        margin-top: 2px;
        border: 3px white solid;
    }
}