/* fontes */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* consolas */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* geral */

:root {
    --main-color: white;
    --sec-color: springgreen;
}

* {
    margin: 0px;
    font-family: Poppins;
    color: var(--main-color)
}

/* header */

header {
    background-color: #070707;
    
    i#theme-icon {
        position: absolute;
        top: calc(0% + 5px);
        right: 1%;
    }
}

.social-icons {
    width: 5%;
    position: absolute;
    top: 10px;
    left: 1%;
    user-select: none;
    
    #github-icon {
        margin-right: 15px;
    }
}

#theme-icon {
    font-size: 43px;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.1s ease; /* Transição na opacidade */
}

#theme-icon.fade-out {
    opacity: 0; /* Torna o ícone invisível antes de mudar */
}

nav {
    font-size: 2cap;
    display: flex;
    justify-content: center;
    gap: 25px;

    a {
        text-decoration: none;
        padding: 10px;
    }

    a:hover {
        transition: 0.3s;
        color: var(--sec-color);
    }
}

/* body */

body {
    background-color: #0C0C0C;
}

/* home */

.home-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.intro {
    float: left;
    width: 50%;
    font-size: 3em;
    display: flex;
    flex-direction: column;            
    justify-content: space-evenly;
}

.icone-eu {
    float: left;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;            
    justify-content: space-evenly;
    img {
        width: 500px;
    };
}

/* about */
.about-container {
    margin-top: 11%;
    margin-left: 10%;
    margin-right: 60%;

    justify-content: center;
}

.home-title {
    font-size: 2cap;
}