/* fontes -------------------------------------------------------*/

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* consolas */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* geral -------------------------------------------------------*/

:root {
    --main-color: white;
    --sec-color: springgreen;
    --bg-color: #090909;
}

* {
    margin: 0px;
    font-family: Poppins;
    color: var(--main-color)
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--sec-color); 
    border-radius: 10px;
}

img {
    user-select: none;
}

body {
    margin-bottom: 25px !important;
}

section {
    margin-bottom: 15em;
}

/* header -------------------------------------------------------*/

header {
    display: flex;
    position: fixed !important;
    justify-content: center;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 1;
}
    
header #github-icon {
    position: absolute;
    top: 10px;
    left: 1%;
    user-select: none;
}

header #github-icon:hover {
    transition: 0.3s;
    color: var(--sec-color);
}

#linkedin-icon{
    position: absolute;
    top: 10px;
    left: calc(3% + 15px);
    user-select: none;
}

#linkedin-icon:hover {
    transition: 0.3s;
    color: var(--sec-color);
}

#monkeytype-icon{
    position: absolute;
    top: 10px;
    left: calc(5% + 30px);
    user-select: none;
}

#monkeytype-icon:hover {
    transition: 0.3s;
    color: var(--sec-color);
}

#language-icon {
    position: absolute;
    top: calc(0% + 6px);
    right: calc(3% + 30px);
    border: white solid;
    transition: opacity 0.15s ease;
    cursor: pointer;
    user-select: none;
}

#language-icon:hover {
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}

#language-icon.fade-out {
    opacity: 0;
}

#theme-icon {
    position: absolute;
    top: calc(0% + 5px);
    right: 1%;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.15s ease;
}

#theme-icon:hover {
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}

#theme-icon.fade-out {
    opacity: 0;
}

nav {
    font-size: 2cap;
    display: flex;
    justify-content: center;
    gap: 25px;

    a {
        padding: 10px;
    }

    a:hover {
        transition: 0.3s;
        color: var(--sec-color);
    }
}

/* body -------------------------------------------------------*/

body {
    background-color: #0C0C0C;
}

/* home -------------------------------------------------------*/

.home-container {
    display: flex;
    justify-content: center;
    margin-top: 11em;
    margin-bottom: 11em;
}

.intro {
    float: left;
    width: 50%;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icone-eu {
    float: left;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;            
    justify-content: space-evenly;
    img {
        width: 500px;
    };
}

/* about -------------------------------------------------------*/

.title {
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
    justify-content: center;
    h1 {
        text-decoration: underline;
        color: var(--sec-color);
    };
}


.about-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.about-text {
    margin-left: 300px;
    width: 60%;
    h1 {
        font-size: 2em;
    };
}

.about-img {
    margin-right: 300px;
    img {
        width: 100%;
        border-radius: 10%;
    };
}

/* footer -------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0px;
    width: 100%;

    a {
        color: var(--sec-color);
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
}

/* skills ------------------------------------------------------*/

.sub-title-language, .sub-title-advanced, .sub-title-intermediate, .sub-title-beginner {
    font-size: 2em;
    text-align: center;
    justify-content: center;
}

.sub-title-intermediate, .sub-title-beginner {
    margin-top: 3em;
}

.sub-title-language h1 {
    color: #3daa39;
}

.sub-title-advanced h1 {
    color: #AA4539;
}

.sub-title-intermediate h1 {
    color: #a3aa39;
}

.sub-title-beginner h1 {
    color: #3981aa;
}

/* languages */

.skill-card-language-1, .skill-card-language-2, .skill-card-language-3 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 10px 20px;
    border-radius: 15px;
    position: relative;
    user-select: none;
    i {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}

.skill-card-language-1:hover, .skill-card-language-2:hover, .skill-card-language-3:hover {
    transform: scale(1.1, 1.1);
    transition: transform .25s;
}

/* advanced skills */

.skills-grid-container-advanced {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 50px;
}

.skill-card-advanced {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 10px 20px;
    border-radius: 15px;
    position: relative;
    user-select: none;
    i {
        display: flex;
        align-items: center;
        font-size: 25px;
        margin-right: 10px;
    }
}

.skill-card-advanced:hover {
    transform: scale(1.1, 1.1);
    transition: transform .25s;
}

/* intermediate skills */

.skills-grid-container-intermediate {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;
}

.skill-card-intermediate {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 10px 20px;
    border-radius: 15px;
    position: relative;
    user-select: none;
    i {
        display: flex;
        align-items: center;
        font-size: 25px;
        margin-right: 10px;
    }
}

.skill-card-intermediate:hover {
    transform: scale(1.1, 1.1);
    transition: transform .25s;
}

/* beginner skills */

.skills-grid-container-beginner {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 50px;
}

.skill-card-beginner {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 10px 20px;
    border-radius: 15px;
    position: relative;
    user-select: none;
    i {
        display: flex;
        align-items: center;
        font-size: 25px;
        margin-right: 10px;
    }
}

.skill-card-beginner:hover {
    transform: scale(1.1, 1.1);
    transition: transform .25s;
}

/* projects ------------------------------------------------------*/

